body {
  background: url("Backround.jpg") repeat-x;
}

a {
  color: green;
  font: Arial;
}

p {
  text-align: center;
  font: Arial;
}

title {
  text-align: center;
  font: Arial;
}

h1 {
  text-align: center;
  font: Arial;
}

h2 {
  text-align: center;
  font: Arial;
}

h3 {
  text-align: center;
  font: Arial;
}

h4 {
  text-align: center;
  font: Arial;
}

h5 {
  text-align: center;
  font: Arial;
}
li {
  text-align: left;
  font: Arial;
}

